* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

hr {
    border-width: 4px;
    border-style: dotted;
    border-color: #32a361;
    width: 80%;
}

.contenedor {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 50px;
    border-radius: 15px;
}

.contenedor p {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: black;
    text-align: justify;
}

.contenedorm {
    width: 80%;
    height: auto;
    align-items: center;
    background-color: #f2f2f2;
    padding: 50px;
    border-radius: 15px;
}

.contenedorm p {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: black;
    text-align: justify;
}

.contenedorm1 {
    width: 60%;
    height: auto;
    align-items: center;
    background-color: #32a361;
    padding: 50px;
    border-radius: 15px;
}

.contenedorm1 p {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: rgb(255, 255, 255);
    text-align: justify;
}

body {
    width: 100%;
    background-color: white;
    background-size: cover;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #32a361;
    font-size: 25px;
    font-weight: bolder;
}

.principal {
    margin-top: 30px;
}

.logo {
    width: 225px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}


/*
.principal h1 {
    font-weight: 34px;
    text-align: center;
    font-size: 120px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px rgb(19, 19, 19);
    animation: back 20s linear infinite;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}
*/

footer {
    bottom: 0;
    text-align: center;
    background-color: #32a361;
    color: white;
    width: 100%;
    padding: 20px;
}

footer span {
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
    color: white;
}

.boton {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 228, 116);
    width: 200px;
    height: 100px;
    border-radius: 30px;
    border: 5px solid rgb(48, 151, 82);
}

.boton:hover {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 100px;
    border-radius: 30px;
    border: 5px solid rgb(48, 151, 82);
}

.boton span:hover {
    font-weight: 200px;
    text-align: center;
    font-size: 25px;
    line-height: 5px;
    color: rgb(48, 151, 82);
}

.boton span {
    font-weight: 200px;
    text-align: center;
    font-size: 25px;
    line-height: 5px;
    color: white;
}

.integrante {
    width: 100%;
    height: auto;
    font-family: 'Work Sans', sans-serif;
    font-size: 35px;
    color: #f2f2f2;
}

.integrantes_table {
    width: 100%;
    background-color: #32a361;
}