/*Cabecera*/
body {
    width: 100%;
    background-image: url("../imagenes/background.jpg");
    background-size: cover;
}

a {
    text-decoration: none;
    color: #222;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bolder;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/*Damos un estilo para luego llamarlo*/
:root {
    --main-color: #91ec8f;
    --white: #e9dede;
    --black: #1c1b1b;
    --border: .1rem solid rgba(17, 87, 9, 0.3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

/* Mandamos estilo a todo el html*/
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

/*Fondo*/
body {
    background: var(--while);
}

section {
    padding: 2rem 7%;
}



/*Parte de la cabecera foto de portada*/
.home {
    min-height: 70vh;
    display: flex;
    align-items: center;
    background: url(../imagenes/Home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 60rem;
}

.home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: black;
}

.home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: black;
}

/*Texto alado de la portada*/
.about .row {
    display: flex;
    align-items: center;

    flex-wrap: wrap;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: black;
}

.about .row .content p {
    font-size: 1.6rem;
    color: black;
    padding: 1rem 0;
    line-height: 1.8;
}

/*Estilo para los titulos */
.heading {
    text-align: center;
    color: black;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}


/*Reseña de los clientes*/
.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

/*Texto de las reseñas*/
.review .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: black;
    padding: 2rem 0;
}

/*Tamaño de imagen de las reseñas*/
.review .box-container .box .user {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    object-fit: cover;
}

/*Para los nombres de las reseñas*/
.review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: black;
}

/* Cierre*/

.footer {
    background: var(--while);
    text-align: center;
}

.footer .links {
    padding: 2rem 0;
    gap: 1rem;
}

.footer .credit {
    font-size: 2rem;
    color: black;
    font-weight: lighter;
    padding: 1.5rem;
}

/*Lista deñl footer separa los cuadros*/
.footer .links a {
    padding: .7rem 2rem;
    color: black;
    border: var(--border);
    font-size: 2rem;

}

.footer .links a:hover {
    background: var(--main-color);
}

/*Doble color */
.footer .credit span {
    color: var(--main-color);
}

/* media queries  */
@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

}
#botoncargar{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
    background: var(--main-color);
    cursor: pointer;
    text-decoration: none;
}