@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.contenedor{
    width: 100%;
    max-width: 1205px;
    background-color: wheat;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.contenedor h2{
    margin-bottom: 30px;
    font-size: 35px;
    padding-left: 25px;
}
.contenedor p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
    padding-left: 25px;
}
.contenedor a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.contenedor a i{
    color: green;
    margin-right: 10px;
    padding-left: 25px;
}
.contenedor form .campo, textarea{
    width: 90%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid burlywood;
    margin-bottom: 40px;
    border-radius: 3px;
    outline: 0px;
}
.contenedor form textarea{
  
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.contenedor .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: skyblue;
    color: orange;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.contenedor .btn-enviar:hover{
    background: blueviolet;
}
