.cont {
  display: flex;
  flex-direction: row;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 40px -10px #000;
  font-family:'Montserrat',sans-serif;
  color: white;
  width: 70%;
  background-color: #eee;
  margin: 20px auto 0;
}

.cont img {
  width: 40%;
  margin: auto;
}

h2,h3{
  margin:10px 0;
  padding-bottom:10px;
  width: auto;
  color:#222;
  border-bottom:3px solid #78788c;
}

h3{
  text-align: center;
  font-size: 30px;
}

input{
  width:90%;
  padding:5px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  color: #222;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:2px solid #bebed2;
}

input:focus{
  border-bottom:2px solid #78788c;
}

p:before{
  content:attr(type);
  margin:28px 0 0;
  font-size:14px;
  color:#222;
}

button{
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px 0px 20px 80px;
  border: 2px solid #222;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #222;
  transition: all 1s ease;
}
button:hover{
  border: 1px solid black;
  background-color: #333;
  color: #fff;
}

.list{
  display: flex;
  flex-direction: column;
  border: 3px solid #aaa;
  margin: 40px;
  width: 500px;
}

.list ul{
  margin: 20px;
  color: #222;
  list-style: none;
}

.list ul li{
  margin: 10px 0;
}

.metodo{
  margin: 30px 70px 30px 0;
  color: #222;
  display: flex;
}

.footer {
  background-color: black;
  height: 50px;
  width: 100%;
  font-size: 30px;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
}